table {
    width: 100%
}

.tabledata {
    background-color: lightblue;
    margin: 20px;
}
/*tr {
    display:flex;
    
    justify-content: space-around
}*/
.NoUser {
    background-color: lightblue;
    margin: auto;
}

.data {
    text-align: center
}

